/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --button_active: #353430;
  --article-text-color: #353430;
  --focus-color: #FFC2E6;
  --header-img: url('../images/cover-image-light.png');
  --button-hover: rgba(50, 49, 45, 0.4);
  --corner-color: #353430;
  --decoration-visible: none;
}

.page {
  background-image: var(--header-img);
}

.header:before {
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

.header:after {
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
}

.header__theme-menu-button {
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button_active);
}

.header__decoration {
  color: var(--accent-color);
  display: var(--decoration-visible);
}

.header__decoration:after {
  background-color: var(--accent-color); 
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__title {
  color: var(--focus-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  border-right: 6px solid var(--accent-color);
  background-color: var(--accent-color);
}

/* Секции со статьями */

.section__title {
  color: var(--accent-color);
}

.article-item__description {
  color: var(--article-text-color);
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 2px solid var(--article-text-color);
}

.link:focus {
  border: 1px solid var(--article-text-color);
  outline: none
}

/* Подвал сайта */
.footer:before {
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

.footer:after {
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
}

/* Медиазапросы */
@media (max-width: 768px) {
  .header {
    grid-template-columns: 236px 1fr;
    grid-template-rows: 443px auto 442px;
    column-gap: 128px;
  }

  .header__theme-menu {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
    align-self: center;
  }
  
  .header__theme-menu-list {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
  }

  .header__title {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: end;
    max-width: 364px;
  }

  .section {
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }

  .article {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .article-in_two_column {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (max-width: 610px) {
  .main {
    padding: 40px 10px;
  }

  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 228px auto 228px;
    padding: 10px;
  }

  .header__theme-menu {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: end;
    align-self: center;
  }
  
  .header__theme-menu-list {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
  }

  .header__decoration {
    top: 10px;
    right: 39px;
  }
  
  .header__title {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: (7.5rem, 0.5625rem + 13.4531vw, 9.8125rem);
  }

  .header__description {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    min-width: calc(100vw - 36px);
  }

  .header::before,
  .footer:before {
    right: 10px;
    top: 10px;
  }

  .header::after,
  .footer:after {
    left: 10px;
    bottom: 10px;
  }

  .section {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .section__title {
    margin-bottom: 20px;
  }

  .title-in_3_columns {
    grid-column-start: 1;
  }

  .article {
    grid-column-start: 1;
  }

  .article-in_two_column {
    grid-column-start: 1;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}